<style>
    .container-hero {
        height: 80vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

  

    .ml13 {
        text-align: center;
        font-family: 'Neuropolitical';
  font-size: 8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
  cursor: pointer;
}

.letter {
    display: inline-block;
}


</style>

<div class="container-hero">
    <h1 class="ml13">
        2KVIBES
    </h1>   
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var textWrapper = document.querySelector('.ml13');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        
        anime.timeline({loop: false})
        .add({
            targets: '.ml13 .letter',
            translateY: [100,0],
            translateZ: 0,
            opacity: [0,1],
            easing: "easeOutExpo",
            duration: 1400,
            delay: (el, i) => 300 + 30 * i
        });

        // document.querySelectorAll('.ml13 .letter').forEach(letter => {
        //     letter.addEventListener('mouseenter', () => {
        //         anime({
        //             targets: '.ml13 .letter',
        //             translateY: [100,0],
        //             translateZ: 0,
        //             opacity: [0,1],
        //             easing: "easeOutExpo",
        //             duration: 1400
        //         })
        //     })
        // })
        })



</script>


{% schema %}
    {       
        "name": "Vibes Hero Section",
        "settings": [],
        "presets": [
            {
                "name": "Vibes Hero Section"
            }
        ]
    }
{% endschema %}