<style>
    .container-hero {
        height: 80vh;
        width: 100vw;
        display: grid;
        place-items: center;
    }

    h1 {
        font-family: sans-serif;
        font-size: 64px;
        line-height: 72px;
        color: #0b0431;
    }

</style>

<div class="container-hero">
    <h1 class="splt">2KVibes</h1>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        splt({
            reveal: true
        });
    
        anime({
            targets: '.reveal',
            translateY: [0, 20],
            direction: 'alternate',
            loop: true,
            delay: anime.stagger(25),
            easing: 'cubicBezier(.71,-0.77,.43,1.67)'
         });
    })

</script>


{% schema %}
    {       
        "name": "Vibes Hero Section",
        "settings": [],
        "presets": [
            {
                "name": "Vibes Hero Section"
            }
        ]
    }
{% endschema %}