.collection {
  background: transparent !important;
}

#shopify-section-template--21994949672983__all-products {
  background: transparent !important;
}

.color-scheme-8e34f56b-cf60-48ed-872d-7cb92f1fe842 {
  background: transparent !important;
}

#collection-template--21994949672983__all-products {
  background: transparent !important;
}
